*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*Start of FAQ*/
.wrapper{
    height: 100vh;
    max-width: 75%;
    margin: auto;
    padding-top: 50px;
}

.wrapper > p, 
.wrapper > h1{
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper > h1{
    letter-spacing: 3px;
} 

.accordion{
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i{
    font-size: 1.6rem;
}

.active,
.accordion:hover{
    background-color: #f1f7f5;
}

.pannel{
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5 ;
    display: none;
   
}

.pannel p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}

.faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0px;
}

.faq.active{
    border: none;
}


/*start navbar*/
.nav{
    width: 100%;
    height: 10vh;
    background: #fff;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    position: absolute; 
    top: 0;
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    background-color: white;
    position: fixed;
    z-index: 1;
    border-bottom: solid #111 1px;
}
/*for text inside NAV BAR*/
header .logo{
    position: relative;
    font-weight: 500;
    font-size: 35px;
    color: #111;
    text-decoration: none;
    margin-right: auto;
    letter-spacing: 1px;
}
header .logo img{
    width: 200px;
    height: 50px;
}

header .navigation2 a{
    padding: 2px 15px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 5%;
    color: #111;
    background: #ffffff;
    text-decoration: none;
    transition: .3s;
    
}


header .navigation2 .unique2{
    padding: 2px 15px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 5%;
    color: #111;
    background: #ffffff;
    text-decoration: none;
    transition: .3s;
    border: solid #111 2px;
}

header .navigation2 a:not(:last-child){
    margin-right: 30px;
}

header .navigation2 a:hover {
    color: hsl(0, 0%, 100%);
    background: #111;
   
}
/*start media navbar*/

label{
    display: none;
}

#check{
    z-index: 3;
    display: none;
}

@media (max-width:960px){
    header .navigation2{
        display: none;
    }
    
    label{ 
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: .5s;
        transition-property: color;
    }

    label:hover{
        color: #cacaca;
    }
    
    label .close-btn{
        color: #cacaca;
        display: none;
        transition: .3s;
    }
    label .close-btn:hover{
        color: #cacaca;
    }
    
    

    #check:checked ~ header .navigation2{
        z-index: 2;
        position: fixed;
        background: rgba(32, 32, 32, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navigation2 a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 1px;
        transition: 0.5s;
    }
  

    #check:checked ~ header label .menu-btn{
        display: none;
    }

    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
        top: 15px;
        right: 10%;
    }

    label .menu-btn{
        position: absolute;
        top: 15px;
        right: 10%;
    }
    header .logo{
        position: absolute;
        top: 10px;
    } 
    header{
        height: 65px;
    }
    header{
        padding-left: 10%;
    }
}

/*start footer*/
footer{
    background-color: black;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
    background-color: #111;
}
.footerContainer h4{
    padding-top: 2%;
    text-transform: uppercase;
    color: white;
   
    font-size: 15px;
    width: 100%;
    text-align: center;
}
/*code for icons*/
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    padding: 5px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 1em;
    color: black;
    opacity: 0.9;
}

/*hover efects*/
.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color:white;
    transition: 0.5s;
}

/* for text in footer*/
.footerNav{
    margin: 30px 0px;
}

.footerNav ul{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*hoever effects for text inside footer*/
.footerNav  ul a {
    color: white;
    margin: 20px;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav li{
    list-style-type: none;
}
.footerNav ul li a:hover{
    opacity: 1;
}

.footerButtom{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #0000;
}

.footerButtom p{
    color: white;
    font-size: 20px;
    width: 90%;
    text-align:center;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width:700px) {
    .footerNav ul{
        flex-direction: column;
        font-size: 15px;
    }
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 15px;
    }
    .footerNav li a{
        font-size: 15px;
    }
    .footerContainer h4{
        font-size: 15px;
    }
    .footerButtom p, span{
        font-size: 15px;
    }
}