*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  
}
.html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*start navbar*/
.nav{
    width: 100%;
    height: 10vh;
    background: #fff;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    position: absolute; 
    top: 0;
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    background-color: white;
    position: fixed;
    z-index: 1;
    border-bottom: solid #111 1px;
}
/*for text inside NAV BAR*/
header .logo{
    position: relative;
    font-weight: 500;
    font-size: 35px;
    color: #111;
    text-decoration: none;
    margin-right: auto;
    letter-spacing: 1px;
}
header .logo img{
    width: 200px;
    height: 50px;
}

header .navigation2 a{
    padding: 2px 5px;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 5%;
    color: #111;
    background: #ffffff;
    text-decoration: none;
    transition: .3s;
}

header .navigation2 .unique2{
    padding: 2px 15px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 5%;
    color: #111;
    background: #ffffff;
    text-decoration: none;
    transition: .3s;
    border: solid #111 2px;
}

header .navigation2 a:not(:last-child){
    margin-right: 30px;
}

header .navigation2 a:hover {
    color: #555;
}
/*start media navbar*/

label{
    display: none;
}

#check{
    z-index: 3;
    display: none;
}

@media (max-width:960px){
    header .navigation2{
        display: none;
    }
    
    label{ 
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: .5s;
        transition-property: color;
    }

    label:hover{
        color: #cacaca;
    }
    
    label .close-btn{
        color: #cacaca;
        display: none;
        transition: .3s;
    }
    label .close-btn:hover{
        color: #cacaca;
    }
    
    

    #check:checked ~ header .navigation2{
        z-index: 2;
        position: fixed;
        background: rgba(32, 32, 32, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navigation2 a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 1px;
        transition: 0.5s;
    }
  

    #check:checked ~ header label .menu-btn{
        display: none;
    }

    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
        top: 15px;
        right: 10%;
    }

    label .menu-btn{
        position: absolute;
        top: 15px;
        right: 10%;
    }
    header .logo{
        position: absolute;
        top: 10px;
    } 
    header{
        height: 65px;
    }
    header{
        padding-left: 10%;
    }
}

/*start featured products*/
.row4{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.categories{
    margin: 70px 0px;
}
.col-3{
    flex: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    text-align: center;
}
.col-3 img{
    width: 100%;
    padding: 0px 10px;
}
.small-container{
    max-width: 80%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/*start featured products*/
.col-4{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin: 0px 1px 50px ;
    transition: transform 0.5s;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)
}

.col-4 img{
    width: 100%;
}

/*start of product details*/
.coll{
    flex-basis: 20%;
    height: 600px;
    padding: 10px;
    min-width: 600px;
    margin: 0px 1px 30px ;
    transition: transform 0.5s;
    
}
.coll2{
    flex-basis: 20%;
    height: 600px;
    padding: 10px;
    min-width: 600px;
    margin: 0px 1px 30px ;
    transition: transform 0.5s;
    
}

.coll2 img{
    width: 100%;
}

.btn{color: white;
    background: #111;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 25px;
    border-radius: 50px;
    transition: .5s;
}
.btn:hover{
    background: #ff523b;
    color: white;
}

.coll h1{
    padding: 30px 0;
}
.coll h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.coll h3{
    margin-top: 40px;
}
.coll select{
    display: block;
    padding: 10px;
    margin: 20px 0px 30px;
}
.coll input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #111;
}
input:focus{
    outline: none;
}
.coll .fa{
    color: #111;
    margin-left: 10px;
}

@media only screen and (max-width: 600px){
    .row4{
        text-align: center;
    }
    .col-3, .col-4 {
        flex-basis: 100%;
    }
    .coll{
        flex-basis: 20%;
        height: 600px;
        padding: 10px;
        min-width: 300px;
        margin: 0px 1px 30px ;
        transition: transform 0.5s;
        
    }
    .coll2{
        flex-basis: 20%;
        height: 300px;
        padding: 10px;
        min-width: 300px;
        margin: 0px 1px 30px ;
        transition: transform 0.5s;
        
    }
    
    .coll2 img{
        width: 100%;
    }

    .cart-info p{
        display: none;
    }
}
/*End of product details*/

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating i{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}

 /*-------------- all products page -------------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
    padding: 0px 8px;
}
select{
    border: 1px solid #111;
    padding: 5px;
}
select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #111;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

/*start footer*/
footer{
    background-color: black;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
    background-color: #111;
}
.footerContainer h4{
    padding-top: 2%;
    text-transform: uppercase;
    color: white;
   
    font-size: 15px;
    width: 100%;
    text-align: center;
}
/*code for icons*/
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    padding: 1px 5px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 1em;
    color: black;
    opacity: 0.9;
}

/*hover efects*/
.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color:white;
    transition: 0.5s;
}

/* for text in footer*/
.footerNav{
    margin: 30px 0px;
}

.footerNav ul{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*hoever effects for text inside footer*/
.footerNav  ul a {
    color: white;
    margin: 20px;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav li{
    list-style-type: none;
}
.footerNav ul li a:hover{
    opacity: 1;
}

.footerButtom{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #0000;
}

.footerButtom p{
    color: white;
    font-size: 20px;
    width: 90%;
    text-align:center;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width:700px) {
    .footerNav ul{
        flex-direction: column;
        font-size: 15px;
    }
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 15px;
    }
    .footerNav li a{
        font-size: 15px;
    }
    .footerContainer h4{
        font-size: 15px;
    }
    .footerButtom p, span{
        font-size: 15px;
    }
}

/* cart items details */

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #111;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #ff523b;
    font-size: 12px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #111;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

.checkout{
    display: flex;
    text-align: center;
    padding: 10px 20px;
    color: white;
    background-color: #ff523b;
    transition: .5s;
    border: none;
    letter-spacing: 1px;
    border-radius: 5%;
   
}
.checkout:hover{
    background-color: #111;
}

/*start of popup2*/
.pop{
    width: 400px;
    height: 30vh;
    background: white;
    border-radius: 5px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 30px 30px 30px;
    color: #111;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 1px solid #555;
}

.open-pop{
    z-index: 2;
    position: fixed;
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.pop i{
    font-size: 100px;
    color: #e44c44;
}  
.pop h2{
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0 10px;
}
.pop .button1{
        width: 40%;
        margin-top: 20px;
        padding: 10px 5px;
        background: #c4c4c4;
        color: #fff;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
}
.side{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}
.pop .button2{
    width: 40%;
    margin-top: 20px;
    padding: 10px 5px;
    background: #e44c44;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.side a{
    text-decoration: none;
    color: white;
}

@media (max-width:700px) {
    .pop i{
        font-size: 50px;
        color: #e44c44;
    } 
    .pop h2{
        font-size: 15px;
        font-weight: 400;
        margin: 10px 0 5px;
    }
    .pop{
        height: 35vh;
    }
}